a.btn-enlaces {
    border-radius: 50%;
    padding: 5px 5px;
    -webkit-box-shadow: 0px 0px 15px black;
    box-shadow: 0px 0px 15px black
}

a.btn-enlaces:nth-child(1) {
    background-color: #06a2ad;
    color: white
}

a.btn-enlaces:nth-child(2) {
    background-color: #500fe9;
    color: white
}

a.btn-enlaces:nth-child(3) {
    background-color: #e90f75;
    color: white
}
a.btn-enlaces:hover{
    color:black;
    background-color: blanchedalmond;
}
//botones con efecto
.btn-efecto{
    padding: 7px;
    color: white;
    background-color: blue;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    animation: parpadeo 2s linear infinite;
    transition: 2s;
    box-shadow: 0px 0px 10px 2px blue;

  }
  .btn-efecto:hover{
        color: black;
        box-shadow: 0px 0px 10px 3px white;
        background-color: white;
      }
  @keyframes parpadeo  {
      0%, 50%  { 
          opacity: 1;
      }
  
       50%  { 
          opacity: 0.4; 
      }
  }