.primero{ 
    color: rgb(201, 37, 37);
    font-size: 110%;
}
.segundo{
    color: rgb(241, 209, 25);
    font-size: 110%;
}
.tercero{
    color: rgb(72, 223, 26);
    font-size: 110%;
}
.cuarto{
    color: rgb(25, 223, 173);
    font-size: 110%;
}
.quinto{
    color:rgb(36, 113, 230);
    font-size: 110%;
}
.sexto{
    color:rgb(96, 40, 250);
    font-size: 110%;
}
.septimo{
    color: rgb(16, 197, 137);
    font-size: 110%;
}