.menu {
    width: 20%;
    float: left;
    transition: 1s ease;
}
.menu-fix {
    width: 80%;
    margin-top: 0px;
    position: fixed;
    z-index: 99;
    transition: 1s ease;
}
/* swiper direccionamiento lateral */
.derecha{
    width: 80%;
    float: right;
}

/* 
Menu lateral
 */
#bars {
    font-size: 0%;
}

.logaut {
    float: right;
    color: black;
}

/*  
Media queris
 */
 
 .icon_responsive{
     position:absolute;
     bottom:10px;
     right:10px;
     z-index:99;
     display: none;
 }
@media(max-width:550px) {
    .menu {
        display: none;
    }
    .icon_responsive{
        display: block;
    }
    .derecha {
        width: 100%;
    }
    #bars {
        font-size: 100%;
    }
}