.dataTables_wrapper .dataTables_filter input{
    padding: 0px;
}
.dataTables_wrapper .dataTables_length select{
    padding: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0em 1em;
}
.dataTables_wrapper .dataTables_length {
    display: none;
}
.dataTables_wrapper .dataTables_info {
    display: none;
}
input[type="search"]{
    padding-left: 6px;
}